:root {
  --primary-page-color: #757575
  --primary-logo-color: #000000;
  --secondary-logo-color: #2196f3;
  --header-text-color: #212121;
  --effects-color: #2196f3;
  --header-contact-color: #757575;
  --primary-title-color: #ffffff;
  --header-text-color: #212121;
  --secondary-title-color: #212121;
  --button-secondary-color: #ffffff;
  --button-primary-color: #212121;
  --text-color: #757575;
  --footer-text-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-page-color)
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-logo-color);
}
.logo-effect {
  color: var(--secondary-logo-color);
}
.logo:focus,
.logo:hover {
  color: var(--effects-color);
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link {
  color: var(--header-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--effects-color);
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--effects-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  background-color: gray;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button-secondary-color);
}
.hero-btn:hover,
.hero-btn:focus
{color: var(--effects-color);
}
.hero-btn {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantage-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.advantage-text {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.address-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  background-color: gray;
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  background-color: gray;
}
.address-map:focus,
.address-map:hover,
.address-link:focus,
.address-link:hover {
  color: var(--effects-color);
}
.filter-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--button-primary-color)
}
.filter-btn:focus,
.filter-btn:hover
{color: var(--effects-color)
}
.filter-btn {
  cursor: pointer;
}
.project-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-title-color);
}
.project-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color)}



